<div class="row" ng-show="displayType == 1">
    <table class="table table-hover table-condensed">
        <tr ng-repeat="row in tableData">
            <td>{{row.matchTypeDetails.name}}</td>
            <td>
                <a ui-sref="playersList({ teamId: row.homeTeamDetails.teamId})">{{row.homeTeamDetails.name}}</a>
            </td>
            <td>VS</td>
            <td><a ui-sref="playersList({ teamId: row.awayTeamDetails.teamId})">{{row.awayTeamDetails.name}}</a></td>
            <td>{{row.matchTime}}</td>
            <td>{{row.matchDate}}</td>
            <td>{{row.venueDetails.name}}</td>
        </tr>
    </table>
</div>
<div class="row" ng-show="displayType == 2">
    <table class="table table-hover table-condensed">
        <tr ng-repeat="row in tableData">
            <td>{{row.matchTypeDetails.name}}</td>
            <td>
                <a ui-sref="playersList({ teamId: row.homeTeamDetails.teamId})">{{row.homeTeamDetails.name}}</a>
            </td>
            <td>VS</td>
            <td><a ui-sref="playersList({ teamId: row.awayTeamDetails.teamId})">{{row.awayTeamDetails.name}}</a></td>
            <td>{{row.matchTime}}</td>
            <td>{{row.matchDate}}</td>
            <td>{{row.venueDetails.name}}</td>
            <td><a ui-sref="liveScore({ matchId: row.matchId, homeTeamId: row.homeTeamDetails.teamId, awayTeamId: row.awayTeamDetails.teamId})">Score Card</a></td>
        </tr>
    </table>
</div>
