<table class="table table-hover table-condensed">
    <tr>
        <th>Player Name</th>
        <th>HowOut</th>
        <th>Bowled By</th>
        <th>Runs Scored</th>
        <th>Balls Faced</th>
    </tr>
    <tr ng-repeat="row in scoreCardData">
        <td>{{row.playerDetails.name}}</td>
        <td>{{row.howOut}}</td>
        <td>{{row.bowledBy}}</td>
        <td>{{row.runsScored}}</td>
        <td>{{row.ballsFaced}}</td>
    </tr>
    <tr>
        <td colspan="4">Total Score: ({{matchStats.runsScored}} / {{matchStats.wicketsLost}}) in {{matchStats.oversReceived}} overs</td>
        <td>Extras: {{matchStats.extraScored}}</td>
    </tr>
</table>