<div>
    <ui-select name="venueDropdown"
               ng-model="$parent.model"
               theme="bootstrap"
               reset-search-input="true"
               class="icon-not-end-form-control"
               ng-required="$parent.isrequired"
               focus-on="venueDropdown"
               ng-disabled="$parent.isDisabled">
        <ui-select-match placeholder="search..." title="series...">
            {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="venue in venuesList | filter: $select.search"
                           refresh="refreshList($select.search)"
                           refresh-delay="200">
            <span ng-bind-html="venue.name | highlight: $select.search"></span>
            <small ng-bind-html="venue.venueId | highlight: $select.search"></small>
        </ui-select-choices>
    </ui-select>
</div>