<div class="row" ng-controller="addMemberCtrl as vm">
    <form name="addMemberForm">
        <div class="row">
            <label>Adding Players for: {{vm.teamId}}</label>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <span ng-class="{'show-field-error': vm.newMember.name==undefined || vm.newMember.name==''}">Member Name *:</span>
            </div>
            <div class="col-xs-2">
                <input type="text" ng-model="vm.newMember.name" ng-required="true" class="form-control" />
            </div>
            <div class="col-xs-2"><span ng-class="{'show-field-error': vm.newMember.validFrom==undefined}">Member Type</span></div>
            <div class="col-xs-2" ng-if="vm.teamId == undefined">
                <div member-type-dropdown
                     class="input-group-btn"
                     ng-model="vm.newMember.memberType" ng-required="true"></div>
            </div>
            <div class="col-xs-2" ng-if="vm.teamId != undefined">
                <div member-type-dropdown
                     class="input-group-btn"
                     ng-model="vm.newMember.memberType" ng-required="true" number-limit="1"></div>
            </div>
            <div class="col-xs-4" ng-if="vm.teamId != undefined">
                <div class="col-xs-6"><span ng-class="{'show-field-error': vm.newMember.playerType==undefined}">Player Type</span></div>
                <div class="col-xs-6">
                    <div player-type-dropdown
                         class="input-group-btn"
                         ng-model="vm.newMember.playerType" ng-required="true"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.newMember.isCaptain">
                        Is Captain
                    </label>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.newMember.isWicketKeeper">
                        Is WicketKeeper
                    </label>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="vm.newMember.playingHand">
                        Is Left Hander
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!--This button will be disabled unless all fields have value in them. because all controls have ng-required = ture, if any controls triggers required as invalid, this ng-disable will return true -->
                <button ng-disabled="addMemberForm.$invalid" ng-click="vm.saveMember()">Save</button>
            </div>
        </div>
    </form>
</div>
