<div ng-controller="matchesCtrl as vm">
    <div class="row">
        <div class="col-md-4">
            <div style="float:left;">
                <ui-select ng-change="vm.getMatchesBySeriesId(vm.selectedSeries.seriesId)" ng-model="vm.selectedSeries" theme="bootstrap" class="icon-not-end-form-control" title="Choose a Series">
                    <ui-select-match placeholder="Select or search a Series...">{{$select.selected.seriesName}}</ui-select-match>
                    <ui-select-choices group-by="'year'" repeat="series in vm.seriesList | filter: $select.search">
                        <span ng-bind-html="series.seriesName | highlight: $select.search"></span>
                        <small ng-bind-html="series.seriesId | highlight: $select.search"></small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <!--<div>
                <button type="button" class="close-button btn" ng-click="vm.clearSelectedValue()"><i class="fa fa-times"></i></button>
            </div>-->
        </div>
        <div class="col-md-4 ">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active" ng-click="vm.setModel('List')">
                    <input type="radio" name="options" checked> List
                </label>
                <label class="btn btn-primary" ng-click="vm.setModel('Calender')">
                    <input type="radio" name="options" > Calender
                </label>
            </div>
        </div>
        <div class="col-md-4 ">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active" ng-repeat="item in vm.matcheTypesList">
                    <button type="button" ng-class="{activeButton: $index==vm.activeIndex }" ng-click="vm.changeSelectedIndex($index, item.matchTypeId)">{{item.name}}</button>
                </li>
                <li style="float:right;"><a ui-sref="addMatch" ng-click="vm.addNewMatch()" show-if-feature="Add Match">Add New Match</a></li>
            </ul>
        </div>
    </div>
    <div class="row" id="accordian">
        <div class="bs-example">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Upcoming</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div ng-show="vm.upComingExpanded && vm.matchView=='List'" class="col-md-12">
                                    <match-detail-tpl table-data="vm.upComingmatchesList"></match-detail-tpl>
                                </div>
                                <div ng-show="vm.upComingExpanded && vm.matchView=='Calendar'" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="calendarUpComingMatches" style="max-width: 900px; margin: 0 auto;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Completed</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div ng-show="vm.completedExpanded && vm.matchView=='List'" class="col-md-12">
                                    <match-detail-tpl table-data="vm.completedMatchesList"></match-detail-tpl>
                                </div>
                                <div ng-show="vm.completedExpanded && vm.matchView=='Calendar'" class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="calendarCompletedMatches" style="max-width: 900px; margin: 0 auto;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>