<div class="container" ng-controller="playerSearchCtrl as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">First Name:</div>
                <div class="col-md-6"><input type="text" ng-model="vm.firstName" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-6">Last Name:</div>
                <div class="col-md-6"><input type="text" ng-model="vm.lastName" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-6">Player Id:</div>
                <div class="col-md-6"><input type="text" ng-model="vm.playerId" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="button" class="btn btn-default success" ng-click="vm.getPlayerByMemberId()" />Search
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active':vm.activeItem == 'Fixtures' }"><a ng-click="vm.activeItem='Fixtures'">Fixtures</a></li>
                    <li ng-class="{'active':vm.activeItem == 'Results' }"><a ng-click="vm.activeItem='Results'">Results</a></li>
                </ul>
            </div>
            <div class="row">
                <div ng-show="vm.activeItem == 'Results'">
                    <result-detail-tpl table-data="vm.completedMatchesList" display-type="1"></result-detail-tpl>
                </div>
                <div ng-show="vm.activeItem == 'Fixtures'">
                    <match-detail-tpl table-data="vm.upComingmatchesList" display-type="1"></match-detail-tpl>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row" ng-show="vm.playersList.length>0">
            <div class="col-md-4">member Id</div>
            <div class="col-md-4">Name</div>
            <div class="col-md-4">TeamId</div>
        </div>
        <div class="row" ng-repeat="row in vm.playersList">
            <div class="col-md-4">{{row.memberId}}</div>
            <div class="col-md-4">
                <a ui-sref="playerInfo({ memberId: row.memberId, teamId: row.teamId})">{{row.name}}</a>
            </div>
            <div class="col-md-4">{{row.teamId}}</div>
        </div>
    </div>
</div>

