<div ng-controller="teamsCtrl as vm">
     <div class="row">
         <div class="panel panel-default">
             <div class="panel-heading">
                 <input type="text" ng-model="vm.listFilter" placeholder="Search in whole table ....." class="form-control" />
             </div>
         </div>
        <table class="table table-hover table-condensed"
               st-table="tableList"
               st-table-filtered-list="exportList"
               st-global-search="vm.listFilter"
               st-safe-src="vm.teamList"
               st-persist="standardTargetList">
            <tr>
                <th>Team Id</th>
                <th>Name</th>
                <th>Valid To</th>
                <th>Team Flag Id</th>
                <th>Captain</th>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <select st-search="'teamId'" class="input-sm form-control"
                            st-col-filter="teamId"
                            type="search" st-data-type="integar">
                        <option value="" label=""></option>
                    </select>
                </td>
                <td>
                    <select st-search="'name'" class="input-sm form-control"
                            st-col-filter="name"
                            type="search">
                        <option value="" label=""></option>
                    </select>
                </td>
                <td>
                    <select st-search="'validTo'" class="input-sm form-control"
                            st-col-filter="validTo"
                            type="search" st-date-format="DD/MM/YYYY">
                        <option value="" label=""></option>
                    </select>
                </td>
                <td>
                    <select st-search="'teamFlagId'" class="input-sm form-control"
                            st-col-filter="teamFlagId"
                            type="search" st-data-type="integar">
                        <option value="" label=""></option>
                    </select>
                </td>
                <td>
                    <select st-search="'captain'" class="input-sm form-control"
                            st-col-filter="captain"
                            type="search">
                        <option value="" label=""></option>
                    </select>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr ng-repeat="row in tableList">
                <td>{{row.teamId}}</td>
                <td><a ui-sref="playersList({teamId: (row.teamId)})">{{row.name}}</a></td>
                <td>{{row.validTo}}</td>
                <td>{{row.teamFlagId}}</td>
                <td>{{row.captain}}</td>
                <td>
                    <a show-if-feature="Modify Team" ui-sref="modifyTeam({teamId: row.teamId})">Modify Team</a><a ui-sref="addPlayer({teamId:vm.teamId})">Add Player</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12"><a ui-sref="addTeam" show-if-feature="Add Team">Add New Team</a></div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
