<div class="col-md-12" ng-controller="topNavigationCtrl as vm">
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li ng-repeat="route in vm.routes" ng-class="{'dropdown': route.stateConfig.data.childRoute != undefined}">
                    <a ng-if="route.stateConfig.data.topLevelMenu == true" ui-sref="{{route.name}}">
                        {{route.stateConfig.data.title}}
                        <span class="caret" ng-if="route.stateConfig.data.childRoute != undefined"></span>
                    </a>
                    <ul ng-if="route.stateConfig.data.childRoute != undefined" ng-class="{'dropdown-menu multi-level': route.stateConfig.data.childRoute != undefined}">
                        <li ng-repeat="childRoute in route.stateConfig.data.childRoute" ng-class="{'dropdown-submenu': childRoute.stateConfig.data.childRoute != undefined}">
                            <a ui-sref="{{childRoute.name}}">
                                {{childRoute.stateConfig.data.title}}
                                <span class="caret" ng-if="childRoute.stateConfig.data.childRoute != undefined"></span>
                                <ul ng-if="childRoute.stateConfig.data.childRoute != undefined" ng-class="{'dropdown-menu': childRoute.stateConfig.data.childRoute != undefined}">
                                    <li ng-repeat="grandChildRoute in childRoute.stateConfig.data.childRoute">
                                        <a ui-sref="{{grandChildRoute.name}}">{{grandChildRoute.name}}</a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- Example, Nested dropdown menu, static -->
                <!--<li class="dropdown">
                    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                        Dropdown <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Hover me for more options</a>
                            <ul class="dropdown-menu">
                                <li><a tabindex="-1" href="#">Second level</a></li>
                                <li>
                                    <a href="#">Even More..</a>
                                </li>
                               
                            </ul>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</div>